// Utils
$primary: #1ED760;
$txt: #ccc;

.hoverEffect:hover {
    filter: brightness(80%);
}

// Imports
@import './sections';
@import './parts';
@import './lyrics';

// Base
* {
    transition: .3s;
    scroll-behavior: smooth;
}
body {
    background-color: #292929;
}
a {
    text-decoration: none;
    outline: none;
}
ul {
    list-style: none;
}
button.btn {
    outline: none;
}
h2 strong {
    color: $primary;
}

// Media queries
@media (max-width: 670px) {
    ul.songs li {
        width: 460px;
    }
    #result.lyric  {
        flex-direction: column;
        width: 80%;

        h2 {
            width: auto;
            padding-bottom: 30px;
        }
        span {
            width: 100%;
        }
    }
}

@media (max-width: 520px) {
    body{
        width: 160%;
    }
    div.bar.fixed-top.show {
        background-color: transparent;
    }
    #result.lyric .spinner-border{
        position: absolute;
        left: 78%;
    }
}